h1 {
	text-align: center;
	background-color: darkblue;
	border-radius: 100px;
	color: white;
}

h2 {
	text-align: center;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-style: wavy;
	text-decoration-color: red;
	text-underline-offset: 5px;
}

article {
	background: radial-gradient(lightblue, skyblue, darkblue);
	display: inline-flex;
	padding: 30px;
	border: 2px dotted blue;
}

section {
	background: radial-gradient(aquamarine, lightblue);
	border: 5px double black;
	padding: 20px;
	border-radius: 100px;
	margin-bottom: 10px;
	margin: 20px;
	box-shadow: 5px 5px 10px 5px midnightblue;
	align-items: stretch;
}

img {
	box-shadow: 5px 5px 10px 5px midnightblue;
	border: 10px solid saddlebrown;
}

p {
	font-size: 20px;
	line-height: 2;
	word-break: keep-all;
	text-align: center;
}

.s1 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 1000px;
	left: 600px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.s2 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 970px;
	left: 605px;
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
}

.s3 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 980px;
	left: 630px;
	width: 5px;
	height: 5px;
}

.s4 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 980px;
	left: 620px;
	width: 5px;
	height: 5px;
}

.s5 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 990px;
	left: 620px;
	width: 10px;
	height: 5px;
}

.s6 {
	font-size: 0px;
	background-color: saddlebrown;
	position: absolute;
	top: 1010px;
	left: 590px;
	width: 20px;
	height: 5px;
}

.s7 {
	font-size: 0px;
	background-color: saddlebrown;
	position: absolute;
	top: 1015px;
	left: 645px;
	width: 20px;
	height: 5px;
}

.s8 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 950px;
	left: 620px;
	width: 20px;
	height: 20px;
}

.s9 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 970px;
	left: 615px;
	width: 30px;
	height: 5px;
}

.n1 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 900px;
	left: 600px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n2 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 950px;
	left: 550px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n3 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 1000px;
	left: 700px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n4 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 910px;
	left: 680px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n5 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 1000px;
	left: 530px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n6 {
	font-size: 0px;
	background-color: GhostWhite;
	position: absolute;
	top: 1050px;
	left: 575px;
	width: 200px;
	height: 50px;
}

.k1 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	top: 1050px;
	left: 200px;
	width: 100px;
	height: 50px;
	border-radius: 10px;
}

.k2 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 1090px;
	left: 220px;
	width: 60px;
	height: 15px;
	border-radius: 5px;
}

.k3 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 1005px;
	left: 290px;
	width: 10px;
	height: 50px;
}

.k4 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 995px;
	left: 290px;
	width: 30px;
	height: 10px;
}

.k5 {
	font-size: 0px;
	background-color: gray;
	position: absolute;
	top: 1005px;
	left: 310px;
	width: 30px;
	height: 30px;
	border: 8px solid black;
}

.k6 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 1020px;
	left: 220px;
	width: 20px;
	height: 30px;
}

.p1 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	top: 1000px;
	left: 700px;
	width: 30px;
	height: 40px;
}

.p2 {
	font-size: 0px;
	background-color: darkred;
	position: absolute;
	top: 1040px;
	left: 710px;
	width: 10px;
	height: 10px;
}

.p3 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	border-radius: 20px;
	top: 980px;
	left: 700px;
	width: 30px;
	height: 40px;
}

.p4 {
	font-size: 0px;
	background-color: darkred;
	position: absolute;
	top: 990px;
	left: 705px;
	width: 20px;
	height: 10px;
}

.b1 {
	border: 1px solid green;
	font-size: 0px;
	background-color: yellowgreen;
	position: absolute;
	top: 990px;
	left: 1900px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.b2 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 990px;
	left: 2000px;
	width: 20px;
	height: 60px;
	border-radius: 30px;
}

.b3 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	top: 1000px;
	left: 2000px;
	width: 20px;
	height: 5px;
}

.b4 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 990px;
	left: 2030px;
	width: 20px;
	height: 60px;
	border-radius: 30px;
}

.b5 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	top: 1000px;
	left: 2030px;
	width: 20px;
	height: 5px;
}

.b6 {
	font-size: 0px;
	background-color: green;
	position: absolute;
	top: 1000px;
	left: 1850px;
	width: 60px;
	height: 5px;
}

.b7 {
	font-size: 0px;
	background-color: green;
	position: absolute;
	top: 1020px;
	left: 1840px;
	width: 80px;
	height: 5px;
}

.b8 {
	font-size: 0px;
	background-color: green;
	position: absolute;
	top: 1040px;
	left: 1850px;
	width: 60px;
	height: 5px;
}

.l1 {
	border: 1px solid lightgray;
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 1000px;
	left: 3900px;
	width: 80px;
	height: 50px;
}

.l2 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 1010px;
	left: 3925px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.h1 {
	border: solid 3px gray;
	font-size: 0px;
	background-color: saddlebrown;
	position: absolute;
	top: 1000px;
	left: 3100px;
	width: 60px;
	height: 100px;
}

.h2 {
	border: solid 3px gray;
	font-size: 0px;
	background-color: saddlebrown;
	position: absolute;
	top: 960px;
	left: 3128px;
	width: 30px;
	height: 40px;
}

.h3 {
	font-size: 0px;
	background-color: grey;
	position: absolute;
	top: 1050px;
	left: 3100px;
	width: 60px;
	height: 10px;
}

.h4 {
	font-size: 0px;
	background-color: lightblue;
	position: absolute;
	top: 1020px;
	left: 3140px;
	width: 10px;
	height: 20px;
}

.h5 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 1075px;
	left: 3120px;
	width: 15px;
	height: 30px;
}

.q1 {
	font-size: 0px;
	background-color: gray;
	position: absolute;
	top: 1000px;
	left: 1020px;
	width: 40px;
	height: 80px;
}

.q2 {
	font-size: 0px;
	background-color: darkgray;
	position: absolute;
	top: 1030px;
	left: 1000px;
	width: 30px;
	height: 60px;
}

.q3 {
	font-size: 0px;
	background-color: darkgray;
	position: absolute;
	top: 1040px;
	left: 1055px;
	width: 30px;
	height: 45px;
}

.q4 {
	font-size: 0px;
	background-color: green;
	position: absolute;
	top: 1030px;
	left: 1060px;
	width: 15px;
	height: 15px;
	border-radius: 8px;
}

.q5 {
	font-size: 0px;
	background-color: olivedrab;
	position: absolute;
	top: 985px;
	left: 1030px;
	width: 20px;
	height: 20px;
	border-radius: 8px;
}

@media screen and (max-width: 900px) {
	h1 {
	text-align: center;
	background-color: darkblue;
	border-radius: 100px;
	color: white;
}

h2 {
	text-align: center;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-style: wavy;
	text-decoration-color: red;
	text-underline-offset: 5px;
}

article {
	background: radial-gradient(lightblue, skyblue, darkblue);
	display: inline-flex;
	padding: 30px;
	border: 2px dotted blue;
}

section {
	background: radial-gradient(aquamarine, lightblue);
	border: 5px double black;
	padding: 20px;
	border-radius: 100px;
	margin-bottom: 10px;
	margin: 20px;
	box-shadow: 5px 5px 10px 5px midnightblue;
	align-items: stretch;
}

img {
	box-shadow: 5px 5px 10px 5px midnightblue;
	border: 10px solid saddlebrown;
}

p {
	font-size: 20px;
	line-height: 2.0;
	word-break: keep-all;
	text-align: center;
}

.s1 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 800px;
	left: 600px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.s2 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 770px;
	left: 605px;
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
}

.s3 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 780px;
	left: 630px;
	width: 5px;
	height: 5px;
}

.s4 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 780px;
	left: 620px;
	width: 5px;
	height: 5px;
}

.s5 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 790px;
	left: 620px;
	width: 10px;
	height: 5px;
}

.s6 {
	font-size: 0px;
	background-color: saddlebrown;
	position: absolute;
	top: 810px;
	left: 590px;
	width: 20px;
	height: 5px;
}

.s7 {
	font-size: 0px;
	background-color: saddlebrown;
	position: absolute;
	top: 815px;
	left: 645px;
	width: 20px;
	height: 5px;
}

.s8 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 750px;
	left: 620px;
	width: 20px;
	height: 20px;
}

.s9 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 770px;
	left: 615px;
	width: 30px;
	height: 5px;
}

.n1 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 740px;
	left: 580px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n2 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 780px;
	left: 550px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n3 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 740px;
	left: 700px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n4 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 760px;
	left: 680px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n5 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 750px;
	left: 740px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

.n6 {
	font-size: 0px;
	background-color: GhostWhite;
	position: absolute;
	top: 850px;
	left: 575px;
	width: 200px;
	height: 30px;
}

.k1 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	top: 850px;
	left: 210px;
	width: 90px;
	height: 45px;
	border-radius: 8px;
}

.k2 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 888px;
	left: 225px;
	width: 60px;
	height: 15px;
	border-radius: 5px;
}

.k3 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 805px;
	left: 290px;
	width: 10px;
	height: 50px;
}

.k4 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 795px;
	left: 290px;
	width: 30px;
	height: 10px;
}

.k5 {
	font-size: 0px;
	background-color: gray;
	position: absolute;
	top: 805px;
	left: 310px;
	width: 20px;
	height: 20px;
	border: 8px solid black;
}

.k6 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 820px;
	left: 220px;
	width: 20px;
	height: 30px;
}

.p1 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	top: 800px;
	left: 700px;
	width: 30px;
	height: 40px;
}

.p2 {
	font-size: 0px;
	background-color: darkred;
	position: absolute;
	top: 840px;
	left: 710px;
	width: 10px;
	height: 10px;
}

.p3 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	border-radius: 20px;
	top: 780px;
	left: 700px;
	width: 30px;
	height: 40px;
}

.p4 {
	font-size: 0px;
	background-color: darkred;
	position: absolute;
	top: 790px;
	left: 705px;
	width: 20px;
	height: 10px;
}

.b1 {
	border: 1px solid green;
	font-size: 0px;
	background-color: yellowgreen;
	position: absolute;
	top: 790px;
	left: 1900px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.b2 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 790px;
	left: 1980px;
	width: 20px;
	height: 60px;
	border-radius: 30px;
}

.b3 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	top: 800px;
	left: 1980px;
	width: 20px;
	height: 5px;
}

.b4 {
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 790px;
	left: 2010px;
	width: 20px;
	height: 60px;
	border-radius: 30px;
}

.b5 {
	font-size: 0px;
	background-color: red;
	position: absolute;
	top: 800px;
	left: 2010px;
	width: 20px;
	height: 5px;
}

.b6 {
	font-size: 0px;
	background-color: green;
	position: absolute;
	top: 800px;
	left: 1850px;
	width: 60px;
	height: 5px;
}

.b7 {
	font-size: 0px;
	background-color: green;
	position: absolute;
	top: 820px;
	left: 1840px;
	width: 80px;
	height: 5px;
}

.b8 {
	font-size: 0px;
	background-color: green;
	position: absolute;
	top: 840px;
	left: 1850px;
	width: 60px;
	height: 5px;
}

.l1 {
	border: 1px solid lightgray;
	font-size: 0px;
	background-color: white;
	position: absolute;
	top: 800px;
	left: 3900px;
	width: 80px;
	height: 50px;
}

.l2 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 810px;
	left: 3925px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.h1 {
	border: solid 3px gray;
	font-size: 0px;
	background-color: saddlebrown;
	position: absolute;
	top: 800px;
	left: 3100px;
	width: 60px;
	height: 100px;
}

.h2 {
	border: solid 3px gray;
	font-size: 0px;
	background-color: saddlebrown;
	position: absolute;
	top: 770px;
	left: 3135px;
	width: 20px;
	height: 30px;
}

.h3 {
	font-size: 0px;
	background-color: grey;
	position: absolute;
	top: 850px;
	left: 3100px;
	width: 60px;
	height: 10px;
}

.h4 {
	font-size: 0px;
	background-color: lightblue;
	position: absolute;
	top: 820px;
	left: 3140px;
	width: 10px;
	height: 20px;
}

.h5 {
	font-size: 0px;
	background-color: black;
	position: absolute;
	top: 875px;
	left: 3120px;
	width: 15px;
	height: 30px;
}

.q1 {
	font-size: 0px;
	background-color: gray;
	position: absolute;
	top: 800px;
	left: 1020px;
	width: 40px;
	height: 80px;
}

.q2 {
	font-size: 0px;
	background-color: darkgray;
	position: absolute;
	top: 830px;
	left: 1000px;
	width: 30px;
	height: 60px;
}

.q3 {
	font-size: 0px;
	background-color: darkgray;
	position: absolute;
	top: 840px;
	left: 1055px;
	width: 30px;
	height: 45px;
}

.q4 {
	font-size: 0px;
	background-color: green;
	position: absolute;
	top: 830px;
	left: 1060px;
	width: 15px;
	height: 15px;
	border-radius: 8px;
}

.q5 {
	font-size: 0px;
	background-color: olivedrab;
	position: absolute;
	top: 785px;
	left: 1030px;
	width: 20px;
	height: 20px;
	border-radius: 8px;
}
}